.multiple__input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  .modal__input-cnt {
    min-width: 300px;
  }

  @media only screen and (max-width: 466px) {
    flex-direction: column;
    .modal__input-cnt {
      width: 100%;
      min-width: 100%;
    }
  }
}
