* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 200ms ease-in;
}
body {
  background-color: $contrast-color;
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1220px;
}

.display-none {
  display: none !important;
}

//  SCROLL BAR
::-webkit-scrollbar {
  background: $secondary-text-color;
  width: 0.3rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $main-text-color;
}

#root {
  .wrapper {
    table {
      tbody {
        tr {
          td {
            &:nth-last-child(2) {
              max-width: 200px !important;
              // min-width: 200px !important;
            }
            &:nth-last-child(3) {
              max-width: 150px !important;
              // min-width: 150px !important;
            }
            &:nth-last-child(4) {
              max-width: 100px !important;
              // min-width: 370px !important;
            }
            &:nth-last-child(5) {
              max-width: 150px !important;
              // min-width: 150px !important;
            }
            &:nth-last-child(7) {
              max-width: 90px !important;
              // min-width: 150px !important;
            }
          }
        }
      }
    }
  }
  .add__container {
    width: 100%;
    display: flex;
    gap: 17px;
    flex-direction: column;
    select {
      margin: 0;
    }
    input {
      margin: 0;
    }
    label {
      font-size: $xs-font-size;
      color: $main-secondary-text-color;
      font-family: $font;
      font-weight: $font-light;
    }
  }
  .edit__container {
    width: 100%;
    display: flex;
    gap: 17px;
    flex-direction: column;

    select {
      margin: 0;
    }
    input {
      margin: 0;
    }
    label {
      font-size: $xs-font-size;
      color: $main-secondary-text-color;
      font-family: $font;
      font-weight: $font-light;
    }
  }
  .modal__input-cnt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    label {
      font-size: $xs-font-size;
      color: $main-secondary-text-color;
      font-family: $font;
      font-weight: $font-light;
    }
    input {
      margin: 0px;
    }
  }
}
