a,
a:visited,
a:focus,
a:active,
a:checked,
li,
ul,
ol {
  text-decoration: none;
  color: $main-text-color;
  list-style-type: none;
  list-style: none;
  margin: 0;
}

// Given the h1 property as a Title
h1 {
  font-size: $xl-font-size;
  color: $main-text-color;
  font-family: $font;
  font-weight: $font-bold;
  margin: 0;
}

// Given the h12 property as a Subtitle
h2 {
  font-size: $l-font-size;
  color: $main-text-color;
  font-family: $font;
  font-weight: $font-light;
  margin: 0;
}

p {
  font-size: $l-font-size;
  font-family: $font;
  font-weight: $font-medium;
  color: $main-text-color;
  margin: 0;
}
